<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="$(var.Burls.Windows.TargetName)" Language="1033" Version="0.4.0" Manufacturer="BEzGumpTion" UpgradeCode="4bd619b8-77ab-437e-8607-f6daf13b12b1">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <Feature Id="f_Burls" Title="Main application" Description="This will install Burls" Level="1">
      <ComponentGroupRef Id="cg_Burls"/>
    </Feature>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="INSTALLFOLDER" Name="$(var.Burls.Windows.TargetName)" />
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="$(var.Burls.Windows.TargetName)" />
      </Directory>
      <Directory Id="LocalAppDataFolder">
        <Directory Id="BurlsLocalAppDataFolder" Name="$(var.Burls.Windows.TargetName)">
          <Directory Id="BurlsLocalAppDataConfigurationFolder" Name="Configurations" />
        </Directory>
        <Directory Id="OldBurlsLocalAppDataFolder" Name="Burls.Windows" >
          <Directory Id="OldBurlsLocalAppDataConfigurationFolder" Name="Configurations" />
        </Directory>
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="cg_Burls" Directory="INSTALLFOLDER">
      <ComponentRef Id="c_Burls_Windows" />
      <ComponentRef Id="c_Burls_ApplicationStartMenuShortcut" />
      <ComponentRef Id="c_Burls_RemoveBurlsLocalAppDataFolder" />
      <ComponentRef Id="c_Burls_RemoveOldBurlsLocalAppDataFolder" />
      <ComponentRef Id="c_Burls_Registry" />
    </ComponentGroup>
  </Fragment>

  <!--Install the program files-->
  <Fragment>
    <DirectoryRef Id="INSTALLFOLDER">
      <Component Id="c_Burls_Windows" Guid="0dda5b8c-983e-4002-b585-d044bd305428">
        <File Id="appsettings_json" Name="appsettings.json" Source="$(var.Burls.Windows.ProjectDir)bin\win10-x64\publish\appsettings.json" KeyPath="no" />
        <File Id="AutoMapper" Name="AutoMapper.dll" Source="$(var.Burls.Windows.ProjectDir)bin\win10-x64\publish\AutoMapper.dll" KeyPath="no" />
        <File Id="AutoMapper_Collection" Name="AutoMapper.Collection.dll" Source="$(var.Burls.Windows.ProjectDir)bin\win10-x64\publish\AutoMapper.Collection.dll" KeyPath="no" />
        <File Id="AutoMapper_Extensions_Microsoft_DependencyInjection" Name="AutoMapper.Extensions.Microsoft.DependencyInjection.dll" Source="$(var.Burls.Windows.ProjectDir)bin\win10-x64\publish\AutoMapper.Extensions.Microsoft.DependencyInjection.dll" KeyPath="no" />
        <File Id="Burls_Application" Name="Burls.Application.dll" Source="$(var.Burls.Windows.ProjectDir)bin\win10-x64\publish\Burls.Application.dll" KeyPath="no" />
        <File Id="Burls_Core" Name="Burls.Core.dll" Source="$(var.Burls.Windows.ProjectDir)bin\win10-x64\publish\Burls.Core.dll" KeyPath="no" />
        <File Id="Burls_deps_json" Name="Burls.deps.json" Source="$(var.Burls.Windows.ProjectDir)bin\win10-x64\publish\Burls.deps.json" KeyPath="no" />
        <File Id="Burls" Name="Burls.dll" Source="$(var.Burls.Windows.ProjectDir)bin\win10-x64\publish\Burls.dll" KeyPath="no" />
        <File Id="Burls_Domain" Name="Burls.Domain.dll" Source="$(var.Burls.Windows.ProjectDir)bin\win10-x64\publish\Burls.Domain.dll" KeyPath="no" />
        <File Id="f_Burls_Windows" Name="$(var.Burls.Windows.TargetName).exe" Source="$(var.Burls.Windows.ProjectDir)bin\win10-x64\publish\$(var.Burls.Windows.TargetName).exe" KeyPath="yes" />
        <File Id="Burls_Persistence" Name="Burls.Persistence.dll" Source="$(var.Burls.Windows.ProjectDir)bin\win10-x64\publish\Burls.Persistence.dll" KeyPath="no" />
        <File Id="Burls_runtimeconfig_json" Name="Burls.runtimeconfig.json" Source="$(var.Burls.Windows.ProjectDir)bin\win10-x64\publish\Burls.runtimeconfig.json" KeyPath="no" />
        <File Id="Microsoft_Extensions_Configuration_Abstractions" Name="Microsoft.Extensions.Configuration.Abstractions.dll" Source="$(var.Burls.Windows.ProjectDir)bin\win10-x64\publish\Microsoft.Extensions.Configuration.Abstractions.dll" KeyPath="no" />
        <File Id="Microsoft_Extensions_Configuration_Binder" Name="Microsoft.Extensions.Configuration.Binder.dll" Source="$(var.Burls.Windows.ProjectDir)bin\win10-x64\publish\Microsoft.Extensions.Configuration.Binder.dll" KeyPath="no" />
        <File Id="Microsoft_Extensions_Configuration_CommandLine" Name="Microsoft.Extensions.Configuration.CommandLine.dll" Source="$(var.Burls.Windows.ProjectDir)bin\win10-x64\publish\Microsoft.Extensions.Configuration.CommandLine.dll" KeyPath="no" />
        <File Id="Microsoft_Extensions_Configuration" Name="Microsoft.Extensions.Configuration.dll" Source="$(var.Burls.Windows.ProjectDir)bin\win10-x64\publish\Microsoft.Extensions.Configuration.dll" KeyPath="no" />
        <File Id="Microsoft_Extensions_Configuration_FileExtensions" Name="Microsoft.Extensions.Configuration.FileExtensions.dll" Source="$(var.Burls.Windows.ProjectDir)bin\win10-x64\publish\Microsoft.Extensions.Configuration.FileExtensions.dll" KeyPath="no" />
        <File Id="Microsoft_Extensions_Configuration_Json" Name="Microsoft.Extensions.Configuration.Json.dll" Source="$(var.Burls.Windows.ProjectDir)bin\win10-x64\publish\Microsoft.Extensions.Configuration.Json.dll" KeyPath="no" />
        <File Id="Microsoft_Extensions_DependencyInjection_Abstractions" Name="Microsoft.Extensions.DependencyInjection.Abstractions.dll" Source="$(var.Burls.Windows.ProjectDir)bin\win10-x64\publish\Microsoft.Extensions.DependencyInjection.Abstractions.dll" KeyPath="no" />
        <File Id="Microsoft_Extensions_DependencyInjection" Name="Microsoft.Extensions.DependencyInjection.dll" Source="$(var.Burls.Windows.ProjectDir)bin\win10-x64\publish\Microsoft.Extensions.DependencyInjection.dll" KeyPath="no" />
        <File Id="Microsoft_Extensions_FileProviders_Abstractions" Name="Microsoft.Extensions.FileProviders.Abstractions.dll" Source="$(var.Burls.Windows.ProjectDir)bin\win10-x64\publish\Microsoft.Extensions.FileProviders.Abstractions.dll" KeyPath="no" />
        <File Id="Microsoft_Extensions_FileProviders_Physical" Name="Microsoft.Extensions.FileProviders.Physical.dll" Source="$(var.Burls.Windows.ProjectDir)bin\win10-x64\publish\Microsoft.Extensions.FileProviders.Physical.dll" KeyPath="no" />
        <File Id="Microsoft_Extensions_FileSystemGlobbing" Name="Microsoft.Extensions.FileSystemGlobbing.dll" Source="$(var.Burls.Windows.ProjectDir)bin\win10-x64\publish\Microsoft.Extensions.FileSystemGlobbing.dll" KeyPath="no" />
        <File Id="Microsoft_Extensions_Logging_Abstractions" Name="Microsoft.Extensions.Logging.Abstractions.dll" Source="$(var.Burls.Windows.ProjectDir)bin\win10-x64\publish\Microsoft.Extensions.Logging.Abstractions.dll" KeyPath="no" />
        <File Id="Microsoft_Extensions_Logging" Name="Microsoft.Extensions.Logging.dll" Source="$(var.Burls.Windows.ProjectDir)bin\win10-x64\publish\Microsoft.Extensions.Logging.dll" KeyPath="no" />
        <File Id="Microsoft_Extensions_Options" Name="Microsoft.Extensions.Options.dll" Source="$(var.Burls.Windows.ProjectDir)bin\win10-x64\publish\Microsoft.Extensions.Options.dll" KeyPath="no" />
        <File Id="Microsoft_Extensions_Primitives" Name="Microsoft.Extensions.Primitives.dll" Source="$(var.Burls.Windows.ProjectDir)bin\win10-x64\publish\Microsoft.Extensions.Primitives.dll" KeyPath="no" />
        <File Id="Microsoft_InteractiveExperiences_Projection" Name="Microsoft.InteractiveExperiences.Projection.dll" Source="$(var.Burls.Windows.ProjectDir)bin\win10-x64\publish\Microsoft.InteractiveExperiences.Projection.dll" KeyPath="no" />
        <File Id="Microsoft_Windows_ApplicationModel_DynamicDependency_Projection" Name="Microsoft.Windows.ApplicationModel.DynamicDependency.Projection.dll" Source="$(var.Burls.Windows.ProjectDir)bin\win10-x64\publish\Microsoft.Windows.ApplicationModel.DynamicDependency.Projection.dll" KeyPath="no" />
        <File Id="Microsoft_Windows_ApplicationModel_Resources_Projection" Name="Microsoft.Windows.ApplicationModel.Resources.Projection.dll" Source="$(var.Burls.Windows.ProjectDir)bin\win10-x64\publish\Microsoft.Windows.ApplicationModel.Resources.Projection.dll" KeyPath="no" />
        <File Id="Microsoft_Windows_ApplicationModel_WindowsAppRuntime_Projection" Name="Microsoft.Windows.ApplicationModel.WindowsAppRuntime.Projection.dll" Source="$(var.Burls.Windows.ProjectDir)bin\win10-x64\publish\Microsoft.Windows.ApplicationModel.WindowsAppRuntime.Projection.dll" KeyPath="no" />
        <File Id="Microsoft_Windows_AppLifecycle_Projection" Name="Microsoft.Windows.AppLifecycle.Projection.dll" Source="$(var.Burls.Windows.ProjectDir)bin\win10-x64\publish\Microsoft.Windows.AppLifecycle.Projection.dll" KeyPath="no" />
        <File Id="Microsoft_Windows_SDK_NET" Name="Microsoft.Windows.SDK.NET.dll" Source="$(var.Burls.Windows.ProjectDir)bin\win10-x64\publish\Microsoft.Windows.SDK.NET.dll" KeyPath="no" />
        <File Id="Microsoft_Windows_System_Power_Projection" Name="Microsoft.Windows.System.Power.Projection.dll" Source="$(var.Burls.Windows.ProjectDir)bin\win10-x64\publish\Microsoft.Windows.System.Power.Projection.dll" KeyPath="no" />
        <File Id="Microsoft_WindowsAppRuntime_Bootstrap" Name="Microsoft.WindowsAppRuntime.Bootstrap.dll" Source="$(var.Burls.Windows.ProjectDir)bin\win10-x64\publish\Microsoft.WindowsAppRuntime.Bootstrap.dll" KeyPath="no" />
        <File Id="Microsoft_WindowsAppRuntime_Bootstrap_Net" Name="Microsoft.WindowsAppRuntime.Bootstrap.Net.dll" Source="$(var.Burls.Windows.ProjectDir)bin\win10-x64\publish\Microsoft.WindowsAppRuntime.Bootstrap.Net.dll" KeyPath="no" />
        <File Id="Microsoft_WinUI" Name="Microsoft.WinUI.dll" Source="$(var.Burls.Windows.ProjectDir)bin\win10-x64\publish\Microsoft.WinUI.dll" KeyPath="no" />
        <File Id="MintPlayer_PlatformBrowser" Name="MintPlayer.PlatformBrowser.dll" Source="$(var.Burls.Windows.ProjectDir)bin\win10-x64\publish\MintPlayer.PlatformBrowser.dll" KeyPath="no" />
        <File Id="Nager_PublicSuffix" Name="Nager.PublicSuffix.dll" Source="$(var.Burls.Windows.ProjectDir)bin\win10-x64\publish\Nager.PublicSuffix.dll" KeyPath="no" />
        <File Id="Newtonsoft_Json" Name="Newtonsoft.Json.dll" Source="$(var.Burls.Windows.ProjectDir)bin\win10-x64\publish\Newtonsoft.Json.dll" KeyPath="no" />
        <File Id="NLog" Name="NLog.dll" Source="$(var.Burls.Windows.ProjectDir)bin\win10-x64\publish\NLog.dll" KeyPath="no" />
        <File Id="NLog_Extensions_Logging" Name="NLog.Extensions.Logging.dll" Source="$(var.Burls.Windows.ProjectDir)bin\win10-x64\publish\NLog.Extensions.Logging.dll" KeyPath="no" />
        <File Id="Octokit" Name="Octokit.dll" Source="$(var.Burls.Windows.ProjectDir)bin\win10-x64\publish\Octokit.dll" KeyPath="no" />
        <File Id="PInvoke_Kernel32" Name="PInvoke.Kernel32.dll" Source="$(var.Burls.Windows.ProjectDir)bin\win10-x64\publish\PInvoke.Kernel32.dll" KeyPath="no" />
        <File Id="PInvoke_User32" Name="PInvoke.User32.dll" Source="$(var.Burls.Windows.ProjectDir)bin\win10-x64\publish\PInvoke.User32.dll" KeyPath="no" />
        <File Id="PInvoke_Windows_Core" Name="PInvoke.Windows.Core.dll" Source="$(var.Burls.Windows.ProjectDir)bin\win10-x64\publish\PInvoke.Windows.Core.dll" KeyPath="no" />
        <File Id="PInvoke_Windows_ShellScalingApi" Name="PInvoke.Windows.ShellScalingApi.dll" Source="$(var.Burls.Windows.ProjectDir)bin\win10-x64\publish\PInvoke.Windows.ShellScalingApi.dll" KeyPath="no" />
        <File Id="resources_pri" Name="resources.pri" Source="$(var.Burls.Windows.ProjectDir)bin\win10-x64\publish\resources.pri" KeyPath="no" />
        <File Id="Validation" Name="Validation.dll" Source="$(var.Burls.Windows.ProjectDir)bin\win10-x64\publish\Validation.dll" KeyPath="no" />
        <File Id="WinRT_Runtime" Name="WinRT.Runtime.dll" Source="$(var.Burls.Windows.ProjectDir)bin\win10-x64\publish\WinRT.Runtime.dll" KeyPath="no" />
      </Component>
    </DirectoryRef>
  </Fragment>

  <!--Install the start menu shortcut-->
  <Fragment>
    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="c_Burls_ApplicationStartMenuShortcut">
        <Shortcut Id="ApplicationStartMenuShortcut" Name="$(var.Burls.Windows.TargetName)" Target="[INSTALLFOLDER]$(var.Burls.Windows.TargetName).exe" WorkingDirectory="INSTALLFOLDER" />
        <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall" />
        <RegistryValue Root="HKCU" Key="Software\Microsoft\$(var.Burls.Windows.TargetName)" Name="shortcut" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </DirectoryRef>
  </Fragment>

  <!--Uninstall all the created user files and config-->
  <Fragment>
    <DirectoryRef Id="BurlsLocalAppDataFolder">
      <Component Id="c_Burls_RemoveBurlsLocalAppDataFolder" Guid="511ca3d1-bc37-4687-971f-314bfb32066b">

        <RemoveFile Id="RemoveAppProperties" Directory="BurlsLocalAppDataConfigurationFolder" Name="AppProperties.json" On="uninstall" />
        <RemoveFolder Id="RemoveBurlsLocalAppDataConfigurationFolder" Directory="BurlsLocalAppDataConfigurationFolder" On="uninstall" />

        <RemoveFile Id="RemoveDatabase" Name="Burls.sqlite" On="uninstall" />

        <RemoveFolder Id="RemoveBurlsLocalAppDataFolder" On="uninstall" />
        <RegistryValue Root="HKCU" Key="Software\Microsoft\$(var.Burls.Windows.TargetName)" Name="BurlsLocalAppDataFolder" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </DirectoryRef>
  </Fragment>

  <!--Uninstall all the old created user files and config-->
  <Fragment>
    <DirectoryRef Id="OldBurlsLocalAppDataFolder">
      <Component Id="c_Burls_RemoveOldBurlsLocalAppDataFolder" Guid="34188faf-e712-46f0-9334-cc2032b00b82">

        <RemoveFile Id="RemoveOldAppProperties" Directory="OldBurlsLocalAppDataConfigurationFolder" Name="AppProperties.json" On="uninstall" />
        <RemoveFolder Id="RemoveOldBurlsLocalAppDataConfigurationFolder" Directory="OldBurlsLocalAppDataConfigurationFolder" On="uninstall" />

        <RemoveFolder Id="RemoveOldBurlsLocalAppDataFolder" On="uninstall" />
        <RegistryValue Root="HKCU" Key="Software\Microsoft\$(var.Burls.Windows.TargetName)" Name="OldBurlsLocalAppDataFolder" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </DirectoryRef>
  </Fragment>

  <Fragment>
    <DirectoryRef Id="TARGETDIR">

      <Component Id="c_Burls_Registry">

        <RegistryKey Root="HKLM" Key="SOFTWARE\Burls" Action="createAndRemoveOnUninstall" />

        <RegistryKey Root="HKLM" Key="SOFTWARE\Burls\Capabilities" Action="create">
          <RegistryValue Type="string" Name="ApplicationDescription" Value="Burls" />
          <RegistryValue Type="string" Name="ApplicationIcon" Value="[INSTALLFOLDER]$(var.Burls.Windows.TargetName).exe,0" />
          <RegistryValue Type="string" Name="ApplicationName" Value="Burls" />
        </RegistryKey>

        <RegistryKey Root="HKLM" Key="SOFTWARE\Burls\Capabilities\FileAssociations" Action="create">
          <RegistryValue Type="string" Name=".htm" Value="BurlsURL" />
          <RegistryValue Type="string" Name=".html" Value="BurlsURL" />
          <RegistryValue Type="string" Name=".shtml" Value="BurlsURL" />
          <RegistryValue Type="string" Name=".xht" Value="BurlsURL" />
          <RegistryValue Type="string" Name=".xhtml" Value="BurlsURL" />
        </RegistryKey>

        <RegistryKey Root="HKLM" Key="SOFTWARE\Burls\Capabilities\URLAssociations" Action="create">
          <RegistryValue Type="string" Name="ftp" Value="BurlsURL" />
          <RegistryValue Type="string" Name="http" Value="BurlsURL" />
          <RegistryValue Type="string" Name="https" Value="BurlsURL" />
        </RegistryKey>

        <RegistryKey Root="HKLM" Key="SOFTWARE\RegisteredApplications">
          <RegistryValue Type="string" Name="Burls" Value="SOFTWARE\Burls\Capabilities" />
        </RegistryKey>

        <RegistryKey Root="HKLM" Key="SOFTWARE\Classes\BurlsURL" Action="createAndRemoveOnUninstall">
          <RegistryValue Type="string" Value="Burls Document" />
          <RegistryValue Type="string" Name="FriendlyTypeName" Value="Burls Document" />
        </RegistryKey>

        <RegistryKey Root="HKLM" Key="SOFTWARE\Classes\BurlsURL\shell\open\command" Action="create">
          <RegistryValue Type="string" Value='"[INSTALLFOLDER]$(var.Burls.Windows.TargetName).exe" "%1"' />
        </RegistryKey>

      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>
